@{
  Layout = "_Layout";
}

<h1>Goodie Log</h1>

<p>@Html.ActionLink("all flavors", "Index", "Flavors")</p> <p>@Html.ActionLink("all treats", "Index", "Teats")</p>
<p>@Html.ActionLink("Create an account", "Index", "Account")</p>